
html, body {
  -ms-touch-action: manipulation; /* For older Microsoft browsers */
  touch-action: manipulation;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  @supports (overscroll-behavior: none) {
    overscroll-behavior: none;
  }
}

:root{
  --color: #111;
  --color2: #003cd5;
  --color3: red;
  --color4: #fff;
  --primary-color: #f2f2f2;
  --secondary-color: #b7e9ff6b;
}

[dark-mode= "dark"]{
  --font-color: #f2f2f2;
  --primary-color: #1a1a1a;
  --secondary-color: #ffe83d;
}