
.schedule-contain{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user_info {
    position: relative;
    display: flex;
    width: 100%;
    height: 25%;
    padding: 0 25px;
    gap: 40px;
}

#profile_img {
    width: auto;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: rgb(179, 199, 195);
}

#user_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.schedule {
    padding: 20px;
    width: 100%;
    height: 70%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(226, 235, 187);
}

.sub_name {
    width: 70%;
    /* height: 100%; */
    background-color: #9c9c9c;
}

.attendance {
    width: 30%;
    height: 100%;
    background-color: #7e7e7e;
}