
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  @supports (overscroll-behavior: none) {
    overscroll-behavior: none;
  }
}

:root{
  --color: #111;
  --color2: #00008B;
  --color3: #444;
  --color4: #fff;
  --primary-color: #f2f2f2;
  --secondary-color: coral;
}

[dark-mode= "dark"]{
  --font-color: #f2f2f2;
  --primary-color: #1a1a1a;
  --secondary-color: #ffe83d;
}