.nav-contain {
    width: 100%;
    height: 10vh;
    box-shadow: 0 0 5px #333;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 10;
}

.logo {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menus {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.menus .menu-item {
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: var(--color);
    background: var(--secondary-color);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    cursor: pointer;
    font-size: 1rem;
    text-transform: capitalize;
    transition: 0.3s;
}

.menu-item:hover {
    transition: 0.3s;
    transform: scale(110%);
}

.other-details {
    position: relative;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.other-details-item {
    height: 100%;
    width: calc(100%/3);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1rem;
    text-transform: capitalize;
    transition: 0.3s;
}

.other-details .dot {
    position: absolute;
    bottom: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transition: 0.5s;
    background: var(--color);
    opacity: 0;
    left: 0;
}


.account {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.account svg {
    transition: 0.3s;
}

.account:hover svg {
    transition: 0.3s;
    transform: scale(120%);
    opacity: 0.7;
}

.hamburger{
    display: none;
}


/*! Extra Small Devices (Portrait Phones) */
@media only screen and (max-width: 575px) {

    .nav-contain {
        height: 8vh;
       justify-content: space-between;
       padding: 0 20px;
    }

    .menus {
        display: none;
    }

    .other-details {
        display: none;
    }

    .account {
        cursor: none;
    }

    .account:hover svg {
        transition: 0s;
        transform: scale(100%);
        opacity: 1;
    }

    .hamburger{
        display: block;
    }
}